@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hospital Management System</h1>
    <p>Welcome. Here is the hospital employee management system.</p>
</div>
